    <div id="aboutwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/aboutwrap -->
	
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>KATELYN ARMSTRONG</h2>
				<p>I am 21 years old, and I am a senior at Mercer University. I grew up on Lookout Mountain in Chattanooga, Tennessee. I have two wonderful paretns, Donny and Shelley, and I have an 18 year old brother, Alex, and a 10 year old sister, Melissa.</p>
				<p>I am a Journalism major at Mercer, and I plan to go into the fields of wither Public Relations or Human Resources. </p>
				<p>One of my hobbies at Mercer has been being involved with my sorority, Alpha Delta Pi, where I have held the leadership roles as recruitment director and social chair.</p>
			</div>

		</div><! --/row -->
	</div><! --/container -->